<!DOCTYPE html>
<html lang="en">
 <head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/default.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
   href="https://fonts.googleapis.com/css2?family=Anta&family=Fredoka:wght@300..700&family=Madimi+One&display=swap"
   rel="stylesheet"
  />
  <title>Header</title>
 </head>
 <body>
  <header class="header">
   <nav class="container">
    <ul class="flex spaceBetween">
     <li><a href="/">Home</a></li>
     <li><a href="/users/new">Register</a></li>
    </ul>
   </nav>
  </header>
 </body>
</html>
